* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    background: #444;
    color: #ddd;
    font-family: 'Raleway', Sans-serif;
    font-size: 22px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  ######  ##     ##    ###    ########  ######## ########   */
/* ##    ## ##     ##   ## ##   ##     ## ##       ##     ##  */
/* ##       ##     ##  ##   ##  ##     ## ##       ##     ##  */
/*  ######  ######### ##     ## ########  ######   ##     ##  */
/*       ## ##     ## ######### ##   ##   ##       ##     ##  */
/* ##    ## ##     ## ##     ## ##    ##  ##       ##     ##  */
/*  ######  ##     ## ##     ## ##     ## ######## ########   */

.page-box{
    display: none;
    position: relative;
    margin: 50px auto;
    width: 800px;
}
.fixed-box {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}
.button {
    display: block;
    position: relative;
    margin: 25px auto;
    width: 250px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    background: #252525;
    color: #ddd;
    cursor: pointer;
}
.button:hover {
    background: #333;
}
.button:active {
    background: #111;
}
.warning {
    display: none;
    padding: 30px 0;
    color: #ffc8c8;
}
.bold {
    font-weight: bold;
}
.small-dim {
    color: #bbb;
    font-size: 20px;
    line-height: 32px;
}


/* #### ##    ##  ######  ######## ########  ##     ##  ######  ######## ####  #######  ##    ##  ######   */
/*  ##  ###   ## ##    ##    ##    ##     ## ##     ## ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/*  ##  ####  ## ##          ##    ##     ## ##     ## ##          ##     ##  ##     ## ####  ## ##        */
/*  ##  ## ## ##  ######     ##    ########  ##     ## ##          ##     ##  ##     ## ## ## ##  ######   */
/*  ##  ##  ####       ##    ##    ##   ##   ##     ## ##          ##     ##  ##     ## ##  ####       ##  */
/*  ##  ##   ### ##    ##    ##    ##    ##  ##     ## ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/* #### ##    ##  ######     ##    ##     ##  #######   ######     ##    ####  #######  ##    ##  ######   */

#instr-img {
    display: none;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}


/*  ######   #######  ##    ##  ######  ######## ##    ## ########  */
/* ##    ## ##     ## ###   ## ##    ## ##       ###   ##    ##     */
/* ##       ##     ## ####  ## ##       ##       ####  ##    ##     */
/* ##       ##     ## ## ## ##  ######  ######   ## ## ##    ##     */
/* ##       ##     ## ##  ####       ## ##       ##  ####    ##     */
/* ##    ## ##     ## ##   ### ##    ## ##       ##   ###    ##     */
/*  ######   #######  ##    ##  ######  ######## ##    ##    ##     */

.consent-instr {
    color: #bbb;
    font-size: 20px;
    line-height: 60px;
}
.form-area {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: auto;
    font-size: 16px;
    line-height: 25px;
    background: #354545;
}
.form-area::-webkit-scrollbar {
    width: 5px;
}
.form-area::-webkit-scrollbar-thumb {
    background: #bbb;
}

/* ########    ###     ######  ##    ##  */
/*    ##      ## ##   ##    ## ##   ##   */
/*    ##     ##   ##  ##       ##  ##    */
/*    ##    ##     ##  ######  #####     */
/*    ##    #########       ## ##  ##    */
/*    ##    ##     ## ##    ## ##   ##   */
/*    ##    ##     ##  ######  ##    ##  */


#task-box {
	margin: 20px auto;
    overflow-x: none;
}
.progress-bar {
    margin: 10px 0;
    width: 100%;
    height: 30px;
    text-align: center;
}
.test-area {
    margin: 20px auto;
    width: 450px;
    height: 300px;
}
#test-img {
    display: none;
    width: 100%;
    height: 100%;
}
.buffer {
	display: none;
}
.rating-area {
    position: relative;
    margin: 30px auto;
    width: 780px;
    height: 70px;
}
.rating-button,
.instr-rating-button {
	position: absolute;
	width: 70px;
    height: 70px;
	color: black;
	border: 4px solid white;
	text-align: center;
    font-family: monospace;
    font-size: 30px;
	line-height: 66px;
	cursor: pointer;
}
.instr-rating-button {
    cursor: default;
}
.rating-button:hover {
	border-color: #333388;
}
.rating-button:active {
	background: white;
}
.r1 {
	left: 130px;
	background: #e6e6ff;
}
.r2 {
	left: 220px;
	background: #ccccff;
}
.r3 {
	left: 310px;
	background: #b3b3ff;
}
.r4 {
	left: 400px;
	background: #9999ff;
}
.r5 {
	left: 490px;
	background: #8080ff;
}
.r6 {
	left: 580px;
	background: #6666ff;
}
.rating-anchors {
    position: absolute;
	width: 110px;
    height: 70px;
	line-height: 70px;
}
.anchor-left {
    left: 0;
    text-align: right;
}
.anchor-right {
    left: 670px;
    text-align: left;
}


/*  #######  ##     ## ########  ######  ######## ####  #######  ##    ##  ######   */
/* ##     ## ##     ## ##       ##    ##    ##     ##  ##     ## ###   ## ##    ##  */
/* ##     ## ##     ## ##       ##          ##     ##  ##     ## ####  ## ##        */
/* ##     ## ##     ## ######    ######     ##     ##  ##     ## ## ## ##  ######   */
/* ##  ## ## ##     ## ##             ##    ##     ##  ##     ## ##  ####       ##  */
/* ##    ##  ##     ## ##       ##    ##    ##     ##  ##     ## ##   ### ##    ##  */
/*  ##### ##  #######  ########  ######     ##    ####  #######  ##    ##  ######   */

.question {
    margin: 50px 0;
}
.option {
    position: relative;
    margin: 10px 0;
    padding: 7px;
    width: 100%;
    border-radius: 8px;
    background: #555;
    cursor: pointer;
}
.option:hover {
    background: gray;
}
.radio {
    position: absolute;
    margin: 0;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.option-text {
    position: relative;
    left: 28px;
    width: calc(100% - 28px);
}
input[type='number'],
textarea {
    background-color: #f5f5f5;
    padding: 5px;
    margin: 10px 0;
}
#problems {
    width: 100%;
    height: 100px;
}
#age {
    width: 50px;
    height: 28px;
}

/* ########  ######## ########  ########  #### ######## ######## #### ##    ##  ######    */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ###   ## ##    ##   */
/* ##     ## ##       ##     ## ##     ##  ##  ##       ##        ##  ####  ## ##         */
/* ##     ## ######   ########  ########   ##  ######   ######    ##  ## ## ## ##   ####  */
/* ##     ## ##       ##     ## ##   ##    ##  ##       ##        ##  ##  #### ##    ##   */
/* ##     ## ##       ##     ## ##    ##   ##  ##       ##        ##  ##   ### ##    ##   */
/* ########  ######## ########  ##     ## #### ######## ##       #### ##    ##  ######    */

#debriefing-box{
	margin: 80px auto;
}
.debriefing-area {
	margin: 30px 0 0 0;
}